In [1]:
from tools import *
import lightgbm as lgm
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

/Users/demetri/opt/miniconda3/envs/gymbo/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [15]:
X,y = fetch_training()

In [23]:
t = X.created_at
special_days = ['Winter Classes Start', 
                'Reading Week Start', 
                'Reading Week End',
                'Winter Classes End',
                'Winter Exams Start',
                'Winter Exams End',
                'Canada Day',
                'Civic Holiday',
                'Fall Classes Start',
                'Thanksgiving',
                'Fall Study Break Start',
                'Fall Study Break End',
                'Fall Classes End',
                'Fall Exams Start',
                'Fall Exams End']

special_periods = ['Winter Exams','Fall Exams','Reading Week','Fall Study Break']

with sqlite3.connect('database/Western_Tweet_Data.sqlite3') as con:
    period_effects= pd.read_sql('select * from SpecialPeriods',con=con, parse_dates=['date'])
    

dates = pd.DataFrame({'date':pd.to_datetime(t.dt.date)})

dates = dates.merge(period_effects, how = 'left').merge(lead_ups, how = 'left')

dates['period'] = pd.Categorical(dates.period, categories = special_periods).codes
dates['special_day'] = pd.Categorical(dates.special_day, categories=special_days).codes
dates = dates.drop('date', axis = 'columns')

In [29]:
dates

       period  days_until  special_day
0          -1        -1.0            0
1          -1        -1.0            0
2          -1        -1.0            0
3          -1        -1.0            0
4          -1        -1.0            0
...       ...         ...          ...
43196      -1         NaN           -1
43197      -1         NaN           -1
43198      -1         NaN           -1
43199      -1         NaN           -1
43200      -1         NaN           -1

[43201 rows x 3 columns]

In [30]:
X

,created_at,apparentTemperature,humidity,precipIntensity,precipProbability,precipType,pressure,visibility,windBearing,windSpeed
0,2014-01-03 09:30:28,-20.78,0.76,0.2489,0.90,snow,1029.19,16.08,300.0,4.51
1,2014-01-03 10:13:43,-17.87,0.63,0.0381,0.05,snow,1029.87,16.08,271.0,3.15
2,2014-01-03 12:19:32,-16.14,0.59,0.0102,0.02,snow,1029.86,16.08,111.0,3.01
3,2014-01-03 12:44:04,-16.14,0.59,0.0102,0.02,snow,1029.86,16.08,111.0,3.01
4,2014-01-03 13:09:38,-20.24,0.60,0.0102,0.02,snow,1029.66,16.08,220.0,10.91
...,...,...,...,...,...,...,...,...,...,...
43196,2019-12-28 14:20:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43197,2019-12-28 14:54:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43198,2019-12-28 15:29:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43199,2019-12-28 15:55:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43200,2019-12-28 16:29:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN